# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# ignore workstation-specific Eclipse files 
*.xml 
language.settings.xml 
.settings/ 
.cproject 
.project 
.build.properties 
.build.xml 
sysProps.xml 
 
# ignore Eclipse temporary files 
*~  
RemoteSystemsTempFiles/  
